<!-- upload_video.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Upload Video</title>
</head>
<body>
    <h1>Upload Video</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if form.errors %}
        <ul>
        {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <br><br><br><br><br><br>hi

    <!-- the content goes here -->
    <!-- This is just a test<br>
    <ol>
       <li><a href="../create-show/">Create_show</a></li>
       <li><a href="../shows/">Show_list</a></li>
       <li><a href="">Upload_video</a></li>
       <li><a href="../">Video_list</a></li>
    </ol>
    The above referencing seems much better design wise.
    <ul>
       <li><a href="{% url 'upload_video' %}">Upload a Video</a></li>
       <li><a href="{% url 'create_show' %}">Create a Show</a></li>
       <li><a href="{% url 'show_list' %}">Show List</a></li>
       <li><a href="{% url 'video_list' %}">Video List (Home)</a></li>
   </ul> -->
</body>
</html>